extends layout

block content
  h1= title
  div.content
    h2 Usage
    p To create a room, visit any root URL like
      code /my-awesome-room
      . Messages posted to the corresponding URL will be broadcast to everyone currently listening on the room's URL.