body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.string
  color: green

.number
  color: darkorange

.boolean
  color: purple

.null
  color: magenta

.key
  color: blue
  font-weight: bold
